/* primary color #212121 */
/* secondary color #757575 */
/* active color #2196F3 */
/* active second color #FFFFFF */
/* --footer-bg-color: #2F303A; */

:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-accent: #2196f3;
  --logo-color-secondary: black;
  --footer-color-text-primary: rgba(255, 255, 255, 0.6);
  --footer-color-text-secondary: #ffffff;
  --footer-bg-color: #2f303a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-color-primary);
  font-weight: 400;
  font-size: 14px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
h1,
h2 {
  margin: 0;
}
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.header .container {
  display: flex;
  height: 80px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------Header---------------- */
.page-header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: var(--text-color-accent);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-part {
  color: var(--logo-color-secondary);
}

.header-ul {
  display: flex;
  padding-left: 98px;
}
.contacts {
  display: flex;
  padding-bottom: 32px;
  padding-top: 32px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: auto;
}

.nav-item,
.contacts-item {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.bsmt-item:hover,
.bsmt-item:focus {
  color: var(--text-color-accent);
}
.nav-link {
  text-decoration: none;
  color: var(--text-color-primary);
}
.nav-link.active {
  color: var(--text-color-accent);
}
.contacts-link {
  text-decoration: none;
  color: var(--text-color-secondary);
}

/* ---------main--------- */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-bg-color);
}

.hero-title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--footer-color-text-secondary);
}

.hero-btn {
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--text-color-accent);
  color: var(--footer-color-text-secondary);
  border: transparent;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* --- section about  ---- */
.second-section {
  padding-top: 94px;
}
.about {
  padding-bottom: 0;
  padding-left: 0px;
  padding-left: 0px;
  gap: 30px;
  display: flex;
  list-style: none;
}
.about-title {
  margin-bottom: 10px;
  line-height: 1.14;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-item {
  width: 270px;
}

.about-text {
  line-height: 1.71;
  color: var(--text-color-secondary);
}
/* section about work */

.wedo {
  padding-top: 94px;
  padding-bottom: 94px;
}
.wedo-list {
  display: flex;
  gap: 30px;
  padding-left: 0px;
}

.wedo-title,
.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.wedo-item {
  list-style-type: none;
}

/* section team */
.team {
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  padding-left: 0px;
  gap: 30px;

  text-align: center;
}

.team-card {
  list-style-type: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color-secondary);
  margin-bottom: 30px;
}
.team-photo {
  margin-bottom: 30px;
}

/* ----------------footer-------------------- */
.basement {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-bsmt {
  display: block;
  margin-bottom: 20px;
  width: 200px;

  text-decoration: none;
  color: var(--text-color-accent);

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-bsmt-part {
  color: var(--footer-color-text-secondary);
}

.bsm-info {
  padding: 0;
}
.bsmt-list {
  display: block;
  list-style: none;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.bsmt-list:not(:last-child) {
  margin-bottom: 9px;
}

.adds {
  color: var(--footer-color-text-secondary);
  text-decoration: none;
}

.adds:hover,
.adds:focus {
  color: var(--text-color-accent);
}

.bsmt-item {
  text-decoration: none;
  margin-top: 9px;
  color: var(--footer-color-text-primary);
}

/* -------------------portfolio page------------------------ */

.btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  list-style: none;
  padding-left: 0px;
}

.btn-item {
  padding: 6px 22px;
  border-radius: 4px;

  background-color: #f5f4fa;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.btn-item:hover,
.btn-item:focus {
  color: var(--footer-color-text-secondary);
  background-color: var(--text-color-accent);
}

.gallery-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0;
}
.gallery-item {
  list-style: none;
  width: 370px;
  margin: 0;
}

.gallery-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.gallery-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-secondary);
  margin-top: 4px;
}
